{{ form_start(customerForm) }}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <h3>Your details</h3>
                <hr>
{{ form_errors(customerForm.customerId) }
<div class="form-group ">
<label for="email">Email</label>
{{ form_widget(customerForm.customerId.email) }}

</div>

<div class="form-group">
<label for="name">Full name</label>
{{ form_widget(customerForm.customerId.name) }}

</div>
</div>

<div class="col-md-6">
<h3>Shipping address</h3>
<hr>
<div class="form-group">
<label for="address1">Address line 1</label>
{{ form_widget(customerForm.addressId.address1) }}

</div>
{{ form_errors(customerForm.addressId.address2) }
<div class="form-group">
<label for="address2">Address line 2</label>
{{ form_widget(customerForm.addressId.address2) }}
{ form_errors(customerForm.addressId.address2) }
</div>

<div class="form-group">
<label for="city">City</label>
{{ form_widget(customerForm.addressId.city) }}
</div>

<div class="form-group">
<label for="postal_code">Postal code</label>
{{ form_widget(customerForm.addressId.postalCode) }}

</div>
</div>
</div>
</div>
</div>