
{{ form_start(customerForm) }}



{#<form action="{{ path('order.create') }}" method="post" autocomplete="off">#}
    <div class="row">
        <div class="col-md-8">
            <div class="row">


            <div class="col-md-6">
    <h3>Your details</h3>
    <hr>

    <div class="form-group ">
        <label for="email">Email</label>
       {{ form_widget(customerForm.customerId.email)}}
        {#<input type="email" name="email" id="email" class="form-control" value="">#}


    </div>

    <div class="form-group">
        <label for="name">Full name</label>
        {{ form_widget(customerForm.customerId.name)}}
        {#<input type="text" name="name" id="name" class="form-control" value="">#}

    </div>
</div>

<div class="col-md-6">
    <h3>Shipping address</h3>
    <hr>

    <div class="form-group">
        <label for="address1">Address line 1</label>
        {{ form_widget(customerForm.addressId.address1)}}
        {#<input type="text" name="address1" id="address1" class="form-control" value="">#}

    </div>

    <div class="form-group">
        <label for="address2">Address line 2</label>
        {{ form_widget(customerForm.addressId.address2)}}
        {#<input type="text" name="address2" id="address2" class="form-control" value="">#}
    </div>

    <div class="form-group">
        <label for="city">City</label>
        {{ form_widget(customerForm.addressId.city)}}
        {#<input type="text" name="city" id="city" class="form-control" value="">#}

    </div>

    <div class="form-group">
        <label for="postal_code">Postal code</label>
        {{ form_widget(customerForm.addressId.postalCode)}}
        {#<input type="text" name="postal_code" id="postal_code" class="form-control" value="">#}


    </div>
</div>
            </div>
        </div>
    </div>