{% extends "@Shop/base.html.twig" %}

{% block content %}

    {% for msg in app.session.flashBag.get('delete') %}
        <div class="alert alert-danger">
            <h1>{{ msg }}</h1>
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            <h1>{{ msg }}</h1>
        </div>
    {% endfor %}

    {% set objects = pagination %}

    {% set firstItem = objects|first|default %}



    <div class="countainer">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <div class="panel panel-primary">
                    {% if firstItem %}
                        <div class="panel-heading">{{ firstItem }}</div>

                        <ul>
                            <li class="btn btn"><a href="{{ path('promotion_add_u') }}">NEW</a></li>
                        </ul>
                        <ul>
                            <li class="btn btn"><a href="{{ path('manage_main') }}">Manger Menu</a></li>
                        </ul>
                    {% endif %}
                    <div class="panel-body"></div>
                    <div class="panel-footer"></div>
                </div>
            </div>
            {% block paginatorhead %}
                {{ objects.getTotalItemCount }}
            {% endblock %}
            <div class="col-md-8 col-md-offset-0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            {% for head in  firstItem.headuser %}
                                {% if not  head|is_array %}
                                    <th>{{ head }}</th>
                                {% endif %}
                                {% if head|is_array %}
                                    {% for key ,value in head %}
                                        <th>{{ key|capitalize }}</th>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>


                        {% for object in  objects %}
                            <tr>
                                {% for head in  firstItem.headuser %}
                                    {% if head|is_array %}
                                        {% for key ,value in head %}
                                            <td>  {{ attribute(attribute(object,'get'~key),'get'~value) }}</td>
                                        {% endfor %}
                                    {% endif %}
                                    {% if not  head|is_array %}
                                        <td>{{ attribute(object, 'get'~head) }}</td>
                                    {% endif %}

                                {% endfor %}

                                {% if firstItem %}

                                    <td>
                                        <a href="{{ path('promotion_edit_u',{'id' :attribute(object, 'getid') }) }}"
                                           class="btn btn-warning">Edit</a>
                                    </td>
                                    <td>
                                        <form method="post"
                                              action="{{ path('promotion_delete_u', {'id':attribute(object, 'getid')}) }}">
                                            <button type="submit" class="btn btn-danger confirm-delete">Delete</button>
                                        </form>
                                    </td>
                                {% endif %}

                            </tr>



                        {% endfor %}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(objects) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                    <h3>Delete</h3>
                </div>
                <div class="modal-body">
                    <p>You are about to delete.</p>
                    <p>Do you want to proceed?</p>
                </div>
                <a id="btnYes" class="btn danger">Yes</a>
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">No</a>
            </div>
        </div>

    </div>
{% endblock %}